/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors

// Cornell
$cornell-red: #b31b1b !default;
$cornell-dark-grey: #222222 !default;
$cornell-sea-grey: #9fad9f !default;
$cornell-blue: #006699 !default;
$cornell-light-green: #63b43f !default;
$cornell-green: #4b7b2b !default;
$cornell-light-orange: #f8981d !default;
$cornell-orange: #d47500 !default;
$cornell-second-red: #df1e12 !default;
$cornell-light-second-red: #ef4035 !default;
$cornell-navy: #073949 !default;

// Pitt
$pitt-blue: #003594 !default;
$pitt-gold: #ffb81c !default;
$pitt-sky: #dbeeff !default;
$pitt-gray: #c8c9c7 !default;
$pitt-dark-blue: #00205b !default;
$pitt-bronze: #b87333 !default;
$pitt-accent-yellow: #ff3939 !default;
$pitt-accent-blue: #66b2e3 !default;
$pitt-accent-green: #00ad6e !default;
$pitt-accent-orange: #f7911e !default;
$pitt-accent-red: #ff5b45 !default;
$pitt-accent-peach: #ffdecd !default;
$pitt-accent-maroon: #770538 !default;

$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color: #f29105 !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$cyan-color: #2698ba !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #00ab37 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #efcc00 !default;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
